*.pyc
*.swp
.DS_Store
*.o
carthing-bt-fwload
output/
host-tools/
distfiles/
artifacts/

!buildroot-external/package/carthing-bt-fwload/
!buildroot-external/package/carthing-bt-fwload/**
tools/previews/
__pycache__/
